.navbar_event_conference {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    background-color:#133b6a;
    color: white;
    width: 100vw;
  }
  
  .company_logo {
    font-size: 30px;
    color: #EFC16B;
    font-weight: 700;
  }
  .nav_links{
    display: flex;
    gap: 170px;
  }
  .left_navbar{
    width: 60vw;
    display: flex;
    gap: 180px;
  
  }
  .nav_links a {
    text-decoration: none;
    color: white;
    margin-right: 20px;
    transition: all 0.3s ease;
    font-size: 25px;
  }
  
  .nav_links a:hover {
    color: #ff9900;
  }

.details_button {
    padding: 8px 16px;
    background-color: #EFC16B;
    color: black;
    /* border: 1px solid white; */
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    /* background-color: transparent; */
  }
 .navbar_event_conference{
    position: fixed;
    top: 1px;
    z-index: 99;
  }
